[Unit]
Description=Python Webapp Application

[Service]
ExecStartPre=/bin/bash -c 'while [ ! -f /home/csye6225/.env ]; do sleep 1; done'
ExecStart=/usr/bin/python3 /home/csye6225/main.py
Restart=always
WorkingDirectory=/home/csye6225/
User=csye6225

[Install]
WantedBy=multi-user.target
